.partner
  padding: 80px 0 40px

  @media(max-width: 1600px)
    padding: 60px 0 30px

.partner__slide
  height: 200px
  width: 100vw
  margin-top: 45px
  position: relative
  transition: 0

  @media(max-width: 1600px)
    height: 170px

  @media(max-width: 600px)
    height: 120px
    margin-top: 20px

  &.animate
    transition: .6s

.partner__line
  position: absolute
  display: flex
  align-items: center
  gap: 100px
  margin-bottom: 50px
  width: max-content

  @media(max-width: 1600px)
    gap: 60px

  @media(max-width: 600px)
    gap: 40px


  &:first-child
    left: 0
    top: 0
    animation: cubic-bezier(.2,0,.8,1) 90s partnerLeft infinite

  &:last-child
    top: 110px
    right: 0
    animation: cubic-bezier(.2,0,.8,1) 90s partnerRight infinite

    @media(max-width: 1600px)
      top: 90px

    @media(max-width: 600px)
      top: 70px



.partner__item
  display: flex
  max-width: 220px
  width: 100%
  max-height: 50px
  filter: grayscale(1)
  transition: .6s

  @media(max-width: 1600px)
    max-width: 180px

  @media(max-width: 600px)
    max-width: 130px

  &.active
    filter: grayscale(0)
    transition: .5s

  & img
    object-fit: contain

  &:hover
    cursor: pointer
    filter: grayscale(0)
    transition: .5s



@keyframes partnerLeft
  0%
    transform: translateX(0px)
  50%
    transform: translateX(-35%)
  100%
    transform: translateX(0px)

@keyframes partnerRight
  0%
    transform: translateX(0px)
  50%
    transform: translateX(40%)
  100%
    transform: translateX(0px)



.partner__info
  font-family: 'Mont'
  font-size: 18px
  max-width: 900px
  margin: 30px auto 0
  overflow: hidden

.partner__info__inner
  display: flex
  flex-direction: column
  align-items: center

.partner__video
  transform-origin:  top
  background: $gray
  overflow: hidden
  border-radius: 10px
  position: relative
  width: 100%
  padding-bottom: 56.25%

.partner__video iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border: 0

.partner__info__logo
  margin: 30px 0 20px
  height: 40px
  object-fit: contain
  max-width: 220px

  @media(max-width: 600px)
    max-width: 180px
    margin: 20px 0 15px

.partner__info__name
  font-weight: 400
  margin-bottom: 10px

  @media(max-width: 600px)
    margin-bottom: 5px

.partner__info__desc
  font-weight: 200