@font-face
  font-family: 'pro'
  src: url('../public/fonts/Code-Pro-Light.woff2')
  font-weight: 200

@font-face
  font-family: 'pro'
  src: url('../public/fonts/Code-Pro.woff2')
  font-weight: 400

@font-face
  font-family: 'pro'
  src: url('../public/fonts/Code-Pro-Bold.woff2')
  font-weight: 700
