.project
  font-family: 'Mont'

.project__banner
  width: 100vw
  height: 35vw
  max-height: 640px
  min-height: 300px
  position: relative

.project__banner__bg
  width: 100%
  height: 100%
  object-fit: cover

.project__title
  position: absolute
  width: 100%
  text-align: center
  top: 50%
  left: 50%
  translate: -50% -50%
  color: $white
  font-size: 48px
  font-weight: 400
  letter-spacing: 1px
  font-weight: 500

  @media(max-width: 998px)
    font-size: 5vw

  @media(max-width: 660px)
    font-size: 7vw

.project__head
  margin: 80px 0 50px
  display: flex
  justify-content: space-between
  gap: 20px

  @media(max-width: 1170px)
    gap: 10px

  @media(max-width: 998px)
    margin: 40px 0 30px
    flex-wrap: wrap
    gap: 12px 0
    justify-content: center

.project__head__item
  font-size: 22px

  @media(max-width: 1170px)
    font-size: 18px

  @media(max-width: 998px)
    width: 100%
    text-align: center

  & span
    font-weight: 700
    margin-right: 30px

    @media(max-width: 998px)
      margin-right: 10px

.project__video
  margin-bottom: 50px
  border-radius: 16px
  background: $gray
  overflow: hidden
  position: relative
  width: 100%
  padding-bottom: 56.25%

  @media(max-width: 998px)
    margin-bottom: 30px

.project__video iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border: 0

.project__review
  display: flex
  gap: 30px
  margin-bottom: 80px

  @media(max-width: 660px)
    flex-direction: column

.project__review__item
  width: 50%

  @media(max-width: 660px)
    width: 100%

.project__review__title
  font-size: 28px
  margin-bottom: 40px
  font-weight: 700

  @media(max-width: 1170px)
    font-size: 22px

  @media(max-width: 998px)
    font-size: 20px
    margin-bottom: 20px

.project__review__item__video
  border-radius: 12px
  overflow: hidden
  background: $gray
  position: relative
  width: 100%
  padding-bottom: 56.25%

.project__review__item__video iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border: 0

.project__info
  background: $purple
  position: relative
  padding: 30px 0
  margin: 180px 0
  color: $white

  @media (max-width: 998px)
    margin: 16vw 0

.project__info__wave
  position: absolute
  width: 100%
  scale: 1.03

  &:first-child
    bottom: calc( 100% - 1px )

  &:nth-child(2)
    top: calc( 100% - 1px )

.project__info__title
  text-align: center
  font-weight: 700
  font-size: 36px
  text-transform: uppercase
  margin-bottom: 50px

  @media(max-width: 998px)
    font-size: 4vw
    margin-bottom: 30px

  @media(max-width: 660px)
    font-size: 5.2vw

.project__info__block
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 50px

  @media(max-width: 1170px)
    gap: 20px

.project__info__item
  grid-column: span 4

  @media(max-width: 660px)
    grid-column: span 6

.project__info__subtitle
  font-size: 28px
  font-weight: 700
  margin-bottom: 16px

  @media(max-width: 1170px)
    font-size: 22px

  @media(max-width: 998px)
    font-size: 18px
    margin-bottom: 8px

  @media(max-width: 400px)
    font-size: 16px

.project__info__text
  font-size: 22px
  font-weight: 200

  @media(max-width: 1170px)
    font-size: 20px

  @media(max-width: 998px)
    font-size: 17px

  @media(max-width: 400px)
    font-size: 15px

.project__info__item__price
  display: flex
  gap: 14px

  @media(max-width: 1170px)
    gap: 4px

  @media(max-width: 400px)
    gap: 0

.project__info__dollar
  max-height: 50px
  opacity: 0.4

  @media(max-width: 1170px)
    max-height: 40px

  @media(max-width: 400px)
    max-height: 30px
    max-width: 35px

  &.active
    opacity: 1

.project__main__title
  font-family: 'pro'
  font-size: 52px
  text-align: center
  margin-bottom: 24px
  color: $white
  -webkit-text-stroke: 1px $black
  text-stroke: 1px $black

  @media (max-width: 998px)
    font-size: 6vw

  @media (max-width: 700px)
    font-size: 8vw
    line-height: 1

  @media (max-width: 500px)
    font-size: 9vw

.project__idea
  margin-bottom: 80px

.project__idea__block
  display: flex
  gap: 30px
  align-items: center

  @media (max-width: 998px)
    flex-direction: column

.project__idea__photo
  width: 50%
  height: 320px
  border-radius: 16px
  overflow: hidden

  @media (max-width: 998px)
    width: 100%

  @media (max-width: 600px)
    height: 250px

  & img
    width: 100%
    height: 100%
    object-fit: cover

.project__idea__text
  width: 50%
  font-size: 22px

  @media (max-width: 998px)
    width: 100%

  @media (max-width: 600px)
    font-size: 18px

.project__present__block
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 40px

  @media(max-width: 998px)
    gap: 20px

  @media(max-width: 750px)
    gap: 12px

.project__present__item
  overflow: hidden
  border-radius: 16px
  grid-column: span 4
  height: 300px
  transition: .2s

  @media(max-width: 998px)
    height: 220px

  @media(max-width: 750px)
    grid-column: span 6
    height: 35vw

  @media(max-width: 350px)
    grid-column: span 12
    height: 50vw

  & img
    width: 100%
    height: 100%
    object-fit: cover

  &:hover
    box-shadow: $shadow_purp

.project__dev__block
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: repeat(2, 1fr)
  gap: 30px

  @media(max-width: 998px)
    gap: 20px

  @media(max-width: 600px)
    gap: 12px

.project__dev__item
  overflow: hidden
  border-radius: 16px
  grid-column: span 4
  grid-row: span 1
  max-height: 160px

  @media(max-width: 998px)
    max-height: 120px

  @media(max-width: 600px)
    grid-column: span 6
    max-height: 30vw

  @media(max-width: 350px)
    grid-column: span 12
    max-height: 60vw

  & img
    width: 100%
    height: 100%
    object-fit: cover

  &:nth-child(4n+1)
    grid-column: span 8
    grid-row: span 2
    max-height: 360px

    @media(max-width: 998px)
      max-height: 300px

    @media(max-width: 600px)
      grid-column: span 6
      grid-row: span 1
      max-height: 30vw

    @media(max-width: 350px)
      grid-column: span 12
      max-height: 60vw

.project__portfolio
  padding-top: 60px
  position: relative

  @media(max-width: 998px)
    padding-top: 40px

  &::after
    @include pseudo(80vw, 4px)
    max-width: 800px
    border-radius: 10px
    background: $black
    top: 0
    left: 50%
    translate: -50% 0

.project__portfolio__title
  font-size: 36px
  text-align: center
  font-weight: 700
  text-transform: uppercase

  @media(max-width: 750px)
    font-size: 5vw

  @media(max-width: 500px)
    font-size: 6vw

.project__portfolio__head
  display: flex
  margin: 50px auto
  width: max-content
  gap: 50px
  overflow-x: scroll
  @include hideScroll

  @media(max-width: 750px)
    margin: 20px auto 30px
    gap: 20px

.project__portfolio__item
  font-size: 48px
  text-transform: uppercase
  font-family: "pro"
  color: $white
  -webkit-text-stroke: 1px $black
  transition: .2s

  @media(max-width: 750px)
    font-size: 5vw

  @media(max-width: 500px)
    font-size: 6vw

  &:hover
    color: $black

  &.active
    color: $black

.project__portfolio__grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 30px

  @media(max-width: 750px)
    gap: 15px

.project__more__btn
  margin: 50px auto 20px

  @media(max-width: 750px)
    margin: 30px auto 20px
