.btn
  appearance: none
  padding: 0
  margin: 0
  border: none
  background: none
  display: flex
  @include centerIn

.btn-def
  padding: 10px 15px
  border-radius: 5px
  background: $main
  font-size: 18px
  color: $white
  font-weight: 500
  transition: .2s

  &:hover
    opacity: 0.6
    transition: .2s

.btn-warning
  background: #e32121
  margin: 20px auto 10px

.modal__error__text
  color: red
  font-size: 16px
  margin-top: 20px

.main__input
  appearance: none
  width: 100%
  border-radius: 5px
  border: solid 1px $main
  background: $black
  padding: 14px 15px
  color: $white
  font-size: 18px
  outline: none

  &.file
    font-size: 14px

  &::placeholder
    font-size: 18px

textarea
  resize: none
  outline: none

textarea.main__input
  height: 200px

.input-hide
  background: none
  border: none
  color: $white
